body{
    margin:0;
        
}
* {
    scroll-behavior: smooth;
}
nav{
   
    height: 3vmax;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.433);
    position: sticky;
    top:0%;
    background-color: white;
    z-index: 1000;
}
.left{
  
    width: 20%;
    display:flex;
    justify-content: center;

}
.left > a {
    text-decoration: none;
    color: crimson;
    font-size: 2vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mid{

    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-self: stretch ;
}
.mid > a {
    text-decoration :none;
    color:black; 
    width:100%;
    font-size:1.5vmax;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex; 
    justify-content: center;
    align-items:center;
}
.mid > a:hover{
    border-bottom: 2px solid crimson;
    color: crimson;
}
.right{

    width: 20%;
    display: flex;
    justify-content: center;

}
.right > img{
    width: 2.5vmax;
    margin:1vmax;
    
}
.right > img:hover{
    cursor: pointer;
   
}
#home{
    
    height:90vh;
    background-image: linear-gradient(to right, rgb(177, 213, 231), rgb(182, 187, 244));
    display: flex;
   
}

.container{
    width: 100%;
   
}
#rightContainer{
    display: flex;
    justify-content: flex-end; 
   
}
#rightContainer > img{
       
    margin-right: 7vmax;
    filter:drop-shadow(0 0 30px black);

}
#leftContainer{
    display: flex;
    flex-direction: column;
    padding:3vmax;
    box-sizing: border-box;
    justify-content: center;
    
}
#leftContainer > h1{
    font-size: 5vmax;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   

}
#leftContainer > h2{
    margin-top: -8%;
      font-size: 2vmax;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      
}
#leftContainer > p{
    margin-left: 2%;
    font-size: 1.2vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
#leftContainer > button{
    width: 11vmax;
    padding: 0.6vmax;
    border-radius: 2vmax;
    border: none;
    background-color: crimson;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    font-size: 1vmax;
}
#leftContainer > button:hover{

    background-color: rgb(158, 13, 42);
     
}


#products > h1{

    text-align: center;
    margin: 5vmax auto;
    font-size: 2.5vmax;
    border-bottom: 5px solid crimson;
    width: 20vmax;
    padding: 1vmax;
}
.productsContainer{
   
    display: flex;
   flex-wrap: wrap;
    height: 100%;
    max-width: 80vw;
    margin: auto;
    justify-content: center;
    
}
/* ------------------------------------------------------- */
.product{
 
    transition: all 0.3s;
    height: 30vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 1vmax;
}
.product > img{

    width: 22vmax;
}
.product > h4{
    margin: 2px;
}
.product > h5{
    margin:0px;
}
.product:hover{
    transform: translateY(-10px);
}
/* ---------------------------------------- */
footer{
    margin-top: 10vmax;
    background-color: rgba(0, 0, 0, 0.901);
    color: white;
    display: flex;
    padding: 1 vmax;
    align-items: center;
}
.leftFooter{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leftFooter > img{
    width: 15vmax; 
    margin: 0.8vmax;
}
.leftFooter > p{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.leftFooter > h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.midFooter{
    width: 60%; 
    text-align: center;
}
.midFooter > h1{

    font-size: 4vmax;
    color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.midFooter > p{
    max-width: 60%;
    margin: 1vmax auto;
}
.rightFooter{
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.rightFooter > h4{
    font-size: 1.4vmax;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.rightFooter > a{
    text-decoration: none;
    color: white;
    margin: 0.5vmax;
    font-size: 1.3vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}